assets
node_modules
templates
.vscode
.DS_Store
.eslintrc.json
.gitignore
.npmignore
.prettierignore
.prettierrc
jest.config.js
README.md
tsconfig.json
yarn-error.log
yarn.lock
pnpm-lock.yaml
*.key.json
