<div class="row mb-2">
  <div class="col-6">{{>service-bc crumb=this.correlation_id}}</div>
</div>

<div id="container" class="row" />

<div id="__state__" hidden>{{{json this.correlation}}}</hidden>
<script type="module" src="/public/js/correlation.js"></script>