<div class="row mb-2">
  <div class="col-6">{{>service-bc}}</div>
  {{#if isAdmin}}
  <div class="col-6 d-flex justify-content-end">
    <div class="col mx-2">
      <input
        id="deleteId"
        type="text"
        class="form-control"
        placeholder="{{this.id}}"
        name="deleteId"
        required
      />
    </div>
    <a id="deleteButton" href="#" type="button" class="btn btn-danger align-self-center disabled">
      <i class="bi bi-trash"></i></i>
    </a>
  </div>
  {{/if}}
</div>

{{> alert}}

<form class="row my-3" method="post" action="/_services/{{this.id}}">
  {{> service-form edit=isAdmin}}
</form>

<div id="__state__" hidden>{{{json this}}}</hidden>
<script type="module" src="/_public/js/edit-service.js"></script>
