<div class="d-flex align-items-center">
  Just a second or two while we update&nbsp;<b>{{id}}</b>&nbsp;...
  <div
    class="spinner-border ms-auto text-warning"
    role="status"
    aria-hidden="true"
  ></div>
</div>

<div id="__state__" hidden>{{{json this}}}</hidden>
<script type="module" src="/_public/js/wait.js"></script>
