{{#if class}}
  <div class="alert alert-dismissible fade show {{class}}" role="alert">
    {{message}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-lable="Close"
    ></button>
  </div>
{{/if}}