<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{#if
        crumb
      }}{{crumb}}{{else}}{{this.shortid}}{{/if}}</li>
  </ol>
</nav>